{% extends 'base_nav_bar.html' %}

{% block maincontent %}

    <div class="container mt-5">

        <div class="profile-info">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label for="nazivIzlozbe" class="me-2"><strong>Naziv:</strong></label>
                        <span id="nazivIzlozbe">{{ exhibition.name }}</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label for="vrednostIzlozbe" class="me-2"><strong>Vrednost izlozbe:</strong></label>
                        <span id="vrednostIzlozbe">{{ exhibition.value|floatformat:2 }}</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label for="prosecnaOcenaNFT" class="me-2"><strong>Prosecna ocena:</strong></label>
                        {% if exhibition.avg_grade != 0 %}
                            <span id="procesnaOcenaNFT">{{ exhibition.avg_grade|floatformat:2 }}</span>
                        {% else %}
                            <span id="procesnaOcenaNFT">Nije ocenjena</span>
                        {% endif %}
                    </div>

                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label for="vlasnikIzlozbe" class="me-2"><strong>username:</strong></label>
                        <a
                           href="#" onclick="submitForm('{{ owner.username }}', '{% url 'profile_info' %}')"
                           id="vlasnikIzlozbe" class="info-value">@{{ owner.username }}
                        </a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label for="datumKreiranjaIzlozbe" class="me-2"><strong>Datum kreiranja:</strong></label>
                        <span id="datumKreiranjaIzlozbe">{{ exhibition.date }}</span>
                    </div>

                    <div class="col-lg-4 col-md-6 text-left">
                        <button class="btn btn-outline-linear btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sortiraj
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="refreshPage('poImenu')">Po imenu</a>
                            <a class="dropdown-item" href="#" onclick="refreshPage('poOceni')">Po oceni</a>
                            <a class="dropdown-item" href="#" onclick="refreshPage('poVelicini')">Po velicini</a>
                            <a class="dropdown-item" href="#" onclick="refreshPage('poVrednosti')">Po vrednosti</a>
                        </div>

                        {% if request.user.is_authenticated %}
                            {% if request.user.idkor == owner.idkor %}
                                <button class="btn btn-outline-linear btn-outline-light m-0 btn-lg" type="button" onclick="izmeniIzlozbu()">
                                      Izmeni izložbu
                                </button>
                                <form id="deleteForm" action="{% url 'remove_exhibition' %}" method="post" style="margin-top: 20px">
                                    {% csrf_token %}
                                    <input type="hidden" name="exhibition_id" id="exhibition_id">
                                    <button class="btn btn-outline-linear btn-outline-light m-0 btn-lg" type="button" onclick="obrisiIzlozbu()" >
                                      Obriši izložbu
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <form id="profileForm" method="post" action="" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="username" id="usernameInput">
                </form>
                <script>
                    function izmeniIzlozbu() {
                        // Preusmeravanje na URL za izmenu izložbe
                        window.location.href = "{% url 'change_exhibition' exhibition.id %}";
                    }

                    function obrisiIzlozbu() {
                        
                        // Preusmeravanje na URL za brisanje izložbe
                        if (confirm("Da li ste sigurni da želite da izbrišete izložbu?")) {
                            // Ako je korisnik potvrdio brisanje, preusmeravamo ga na odgovarajuću stranicu
                            alert("Uspešno ste izbrisali izložbu");

                            document.getElementById("exhibition_id").value={{ exhibition.id }};
                            document.getElementById("deleteForm").submit();
                        }

                    }
                    function submitForm(username, action) {
                        document.getElementById("usernameInput").value = username;
                        document.getElementById("profileForm").action = action;
                        document.getElementById("profileForm").submit();
                    }
                </script>
            </div>
        </div>

        <div class="row">
            {% for nft in nfts %}
                <div class="col-md-3 mb-4">
                    <div class="album-item">
                        <a href="{% url 'nft_review' nft.nft.idnft %}">
                            <img
                                {% if nft.data %}
                                    src="{{ nft.data.nft.image_url }}"
                                {% else %}
                                    src="{{ nft.nft.slika.url }}"
                                {% endif %}
                            alt="Slika" id="{{ nft.nft.idnft }}" style="width: 300px;height: 300px">
                        </a>
                        <div class="caption text-center">{{ nft.nft.naziv }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}