{% extends 'base.html' %}

{% block additional_style %}
    
    <style>

        

        .input-row {
            display: flex;
            margin-bottom: 10px;
        }

        .input-row label {
            width: 120px;
        }

        .input-row input {
            flex: 1;
            padding: 5px;
        }
        
        .login-button {
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            color: #333;
        }

        .login-button:hover {
            background-color: #ddd;
        }

    </style>

{% endblock %}

{% block navbar3 %}
    <div class="btn-wrap d-flex my-4 my-lg-4 ">
    <a href="{% url 'login' %}" class="btn btn-linear btn-medium">Prijavi se</a>
    <a href="{% url 'register' %}" class="btn btn-outline-linear btn-medium m-0">Registruj se</a>
    </div>

{% endblock %}

{% block maincontent %}

    <div class="container col-md-12">
        <h2>Registracija</h2>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="input-row">
                    <label for="username">Korisničko ime:</label>
                    <input type="text" id="username" name="username" style = "margin-right: 20px;" required>
                    <label for="birthdate">Datum rođenja:</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>

                <div class="input-row">
                    <label for="name">Ime:</label>
                    <input type="text" id="name" name="name"  style = "margin-right: 20px;" required>
                    <label for="birthplace">Mesto rođenja:</label>
                    <input type="text" id="birthplace" name="birthplace" required>
                </div>

                <div class="input-row">
                    <label for="surname">Prezime:</label>
                    <input type="text" id="surname" name="surname"  style = "margin-right: 20px;" required>
                    <label for="phone">Broj telefona:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>

                <div class="input-row">
                    <label for="password">Šifra:</label>
                    <input type="password" id="password" name="password"  style = "margin-right: 20px;" required>
                    <label for="card">Kartica:</label>
                    <input type="text" id="card" name="card">
                </div>
                <div class="input-row">
                    <label for="confirm_password">Potvrda šifre:</label>
                    <input type="password" id="confirm_password" name="confirm_password"  style = "margin-right: 20px;" required>
                    <label for="email">Mejl:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-row col-lg-6" >
                    <label >Želim da se prijavim kao:</label>
                    <input  type="radio" id="creator" name="user_type" value="kreator">
                    <label for="creator">Kreator</label>
                    <input type="radio" id="collector" name="user_type" value="kolekcionar">
                    <label for="collector">Kolekcionar</label>
                    <input type="radio" id="buyer" name="user_type" value="kupac" checked>
                    <label for="buyer">Kupac</label>
                </div>

                <div class="row">
                    <input type="submit" value="Registruj se" class="login-button btn-wrap btn-outline-linear" id="register-button">
                </div>

            </form>
        </div>

    </div>
{% endblock %}